*{
    padding: 0;
    margin: 0;

}

.main-container{
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.block{
    min-height: 100%;
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
    max-width: 400px;
    position: relative;
}

.cell{
    width: 100px;
    height: 100px;
    background: skyblue;
    border: 1px solid black;
    box-sizing: border-box;
}

.cell-x{
    position: absolute;
    background-color: blue;
    bottom: 0;
    left: 0;
    z-index: 1005;
    transition: ease-in-out 0.5s;
}

.block-right .board{
    transform: rotate(45deg);
    max-width: 280px;
    border: 1px solid transparent;
}

.block-right .cell{
    margin: 10px;
    cursor: pointer;
}

.block-right .cell.cell-up{
    background-color:green;
}
.block-right .cell.cell-right{
    background-color:red;
}
.block-right .cell.cell-down{
    background-color:skyblue;
}
.block-right .cell.cell-left{
    background-color:orange;
}